/* armata-regular - latin */
@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/armata-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/armata-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/armata-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/armata-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/armata-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/armata-v12-latin-regular.svg#Armata') format('svg'); /* Legacy iOS */
}