#cmd_table {
  margin-left: 5em;
  margin-top: 2em;
}

#table-cmd-head {
  text-align: center;
  font-weight: bold;
}

#cmd_table td,#loc_table td {
  padding: 8px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
}

#tbl-hdr {
  font-weight: bold;
  text-align: center;
}

.deletebutton {
  padding-left: 10px;
}

.deletebutton, #add-img:hover {
  cursor: pointer;
}

.submit-push {
  float: left;
  width: 15%;
  margin-right: 0.5em;
  padding-top: 0.5em;
  text-align: right;
  font-weight: bold;
}

#add-img {
  margin-left: 1.5em;
}

#submit-button {
  margin-left: 5em;
}

label {
  float: left;
  width: 25%;
  margin-right: 0.5em;
  padding-top: 0.8em;
  padding-right: 0.8em;
  text-align: right;
  font-weight: bold;
}

input, select {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.command-value {
  width: 20em;
}
